region      = "us-east-1"
azs         = ["us-east-1a", "us-east-1b", "us-east-1c"]
environment = "dev"
name        = "platform"

admin_principal_arns = [
  "arn:aws:iam::111122223333:role/PlatformAdmins",
]
